@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; }
body { background:#eee; }
.overflow { overflow:auto; position:relative; }
ul.tree { display:block; font:12px Arial, Helvetica, sans-serif; color:#000; margin-bottom:250px;  }
ul.tree li { display:inline-block; text-align:center; margin:20px; vertical-align:top; }
ul.tree li.tnone { display:none; }
ul.tree ul.tshow { display:block!important; }
ul.tree li > div { display:inline-block; padding:7px 10px; text-decoration:none; position:relative; min-width:40px; z-index:2;  color:#fff; font-weight:bold; }
ul.tree li > div span { display: inline-block; margin: 0 2px;  }
ul.tree li > div.zindex { z-index:inherit; }
ul.tree li form { display:block; text-align:left; padding:10px; margin-top:15px; position:absolute; z-index:4; background:#da9628; color:#fff; }
ul.tree li form input[type=checkbox] { }
ul.tree li form img.close { float:right; cursor:pointer; background-color:#e02222; padding:2px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
ul.tree li input[type=text] { width:150px; background:#ffc; padding:4px; font:12px Arial, Helvetica, sans-serif; color:#000; border:none; margin:5px 0; display:block; }
ul.tree li input[type=password] { width:150px; background:#ffc; padding:4px; font:12px Arial, Helvetica, sans-serif; color:#000; border:none; margin:5px 0; display:block; }
ul.tree li select { width:150px; background:#ffc; padding:4px; font:12px Arial, Helvetica, sans-serif; color:#000; border:none; margin:5px 0; display:block; }
ul.tree li textarea { height:35px; width:150px; background:#ffc; padding:4px; font:12px Arial, Helvetica, sans-serif; color:#000; border:none; margin:5px 0; display:block; }
ul.tree li textarea.error { background:#d84a38; }
ul.tree li textarea:focus { background:#ffc; }
ul.tree li .submit, ul.tree li .edit { border:none; text-align:center; display:block; font:11px Arial, Helvetica, sans-serif; font-weight:bold; color:#fff; padding:5px 15px; cursor:pointer; margin-top:3px; background:#4d90fe; }
ul.tree li .submit:hover, ul.tree li .edit:hover { background:#8a9ef5; }

ul.tree li span.vertical, ul.tree li span.horizontal { display:inline-block; position:absolute; z-index:1; background:#bbb; }
ul.tree li span.vertical { width:1px; }
ul.tree li span.horizontal { height:1px; }
ul.tree li b.thide { position:absolute; width:11px; height:12px; bottom:0; left:-17px; background:url(../img/hide.png) no-repeat; cursor:pointer; }
ul.tree li b.thide.tshow { background:url(img/show.png) no-repeat; }
ul.tree li b.thide.tnone { display:none; }
ul.tree li span.add_action, ul.tree li span.edit_action, ul.tree li span.highlight, ul.tree li span.delete_action { position:absolute; width:10px; height:10px; cursor:pointer; display:none; padding:2px; background-color:#e02222; background-position:center; background-repeat:no-repeat; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
ul.tree li span.add_action { top:-5px; left:-5px; background-image:url(../img/add.png); }
ul.tree li span.edit_action { bottom:-5px; left:-5px; background-image:url(../img/edit.png); }
ul.tree li span.highlight { bottom:-5px; right:-5px; background-image:url(../img/highlight.png); }
ul.tree li span.delete_action { top:-5px; right:-5px; background-image:url(img/close.png); }
img.back_btn { position:fixed; left:15px; top:15px; cursor:pointer; z-index:3; }
img.load { position:absolute; }
div.drag_error, div.delete_msg, div.edit_msg, div.add_msg, div.drop_msg { position:absolute; color:#fff; position:absolute; right:10px; top:10px; padding:4px 10px; font:14px Arial, Helvetica, sans-serif; z-index:999; }
div.drag_error { background:#b41616; }
div.delete_msg { background:#b41616; }
div.edit_msg { background:#17A769; }
div.add_msg { background:#27A9E3; }
div.drop_msg { background:#852b99; }
ul.tree li div.current span.multi-child,ul.tree li div.current span.single-child{ background:#88932e; }
ul.tree li div.children span.multi-child,ul.tree li div.children span.single-child{ background:#d3ae55; }
ul.tree li div.parent span.multi-child,ul.tree li div.parent span.single-child{ background:#6d4875; }