/*======================================= Media Queries 0 to 768 (Ipad Portrait View)=====================================*/
@media screen and (min-width:1200px) {
  /*========== Overlay ==========*/
  .container { max-width: 580px;}
  .overlay-box { width: 96%; min-width: 0 }
  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { float: left; padding: 0 1% }
.grid-layout { margin: 0 -1% }
.grid-12 { width: 100%; float: none; }
.grid-11 { width: 91.66666666666666% }
.grid-10 { width: 83.33333333333334% }
.grid-9 { width: 75% }
.grid-8 { width: 66.66666666666666% }
.grid-7 { width: 58.333333333333336% }
.grid-6 { width: 50% }
.grid-5 { width: 41.66666666666667% }
.grid-4 { width: 33.33333333333333% }
.grid-3 { width: 25% }
.grid-2 { width: 16.666666666666664% }
.grid-1 { width: 8.333333333333332% }
.scrollTop { position: fixed; right: 20px; bottom: 20px; width: 40px; height: 40px; text-align: center; z-index: 6; display: none; background: #ffe600; border-radius: 5px; }
.scrollTop a { display: block; color: #333333; }
.scrollTop a:before { font: 20px/40px FontAwesome; content: '\f102'; }
  /*========== Overlay End ==========*/	
}
/*======================================= Media Queries 1024 to desktop (Ipad Portrait View)====================================*/

@media screen and (max-width:1024px) {
	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { float: left; padding: 0 1% }
.grid-layout { margin: 0 -1% }
.grid-12 { width: 100%; float: none; }
.grid-11 { width: 91.66666666666666% }
.grid-10 { width: 83.33333333333334% }
.grid-9 { width: 75% }
.grid-8 { width: 66.66666666666666% }
.grid-7 { width: 58.333333333333336% }
.grid-6 { width: 50% }
.grid-5 { width: 41.66666666666667% }
.grid-4 { width: 33.33333333333333% }
.grid-3 { width: 25% }
.grid-2 { width: 16.666666666666664% }
.grid-1 { width: 8.333333333333332% }
.scrollTop { position: fixed; right: 20px; bottom: 20px; width: 40px; height: 40px; text-align: center; z-index: 6; display: none; background: #ffe600 none repeat scroll 0 0; border-radius: 5px; }
.scrollTop a { display: block; color: #333; }
.scrollTop a:before { font: 20px/40px FontAwesome; content: '\f102'; }
.common-head.drive-tree-select-wrap { /*background: #dddddd;*/ background: transparent; z-index:99999; left: 0; top:10px; padding: 0px 7px; position: fixed; width:60%; }
.tabNav { bottom: 0; left: 0; margin: auto; position: fixed; right: 0; width: 100%; z-index: 99 }
.content-area .container { padding-top: 0; }
.animated-label-form .form-row.btm-btn { left: 0; margin: 0; padding: 0 10px 0; position: fixed; right: 0; width: 100%; bottom: 5%; }
.nav li { float: left; border-right: none; }
  .tab-mobile { display: block }
  .logo { float: none; width: 100%; }
  .nav { float: none; width: 100% }
  /*form*/
  .form-row .form-field { margin: 0; }
  /*form end*/
  .wrapper { }
  .toggle-btn { background: none repeat scroll 0 0 transparent; cursor: pointer; display: block; height: 40px; padding: 12px 0; position: absolute; right: 2%; top: 20px; width: 40px; }
  .toggle-btn span { background: none repeat scroll 0 0 #fff; display: block; height: 2px; margin: 0 auto 5px; width: 62%; }
  .opened .toggle-btn span { display: none; }
  .opened .toggle-btn span:first-child, .opened .toggle-btn span:last-child { display: block; position: absolute; transform: rotate(45deg); }
  .opened .toggle-btn span:last-child { left: 8px; top: 19px; transform: rotate(-45deg); }
  .opened .toggle-btn span:first-child { left: 9px; margin-top: 5px; top: 14px; }
  .nav { position: fixed; right: -250px; width: 250px; top: 0; z-index: 100; height: 100%; transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; overflow: auto; }
  .nav li, .nav li:last-child { float: none; border-bottom: 1px solid #fff; }
  .nav li.has-sub-menu { position: relative; }
  .nav li.has-sub-menu:after { color: #fff; content: "+"; position: absolute; right: 11px; top: 4px; }
  .nav li.has-sub-menu.opened:after { content: '-'; }
  .header .nav .container { width: 100% }
  .sub-menu:before { display: none; }
  .nav .sub-menu { position: static; padding: 0; width: 100%; max-height: 0; transition: all 1500ms ease; -moz-transition: all 1500ms ease; -webkit-transition: all 1500ms ease; }
  .nav li.has-sub-menu.opened .sub-menu { height: auto; max-height: 3000px; }
  .nav li:hover .sub-menu { padding: 0; height: 0; }
  .sub-menu li { border: none }
  .sub-menu li:last-child { border: none; }
  .wrapper { width: 100%; transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; }
  .wrapper.opened { /*margin-left: -250px;*/ }
  .wrapper.opened .nav { right: 0; 
  -webkit-box-shadow:-5px 0px 10px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:-5px 0px 10px 0px rgba(50, 50, 50, 0.5);
box-shadow:-5px 0px 10px 0px rgba(50, 50, 50, 0.5); }
  .header { position: fixed; width: 100%; z-index: 10000;}
.content-area .container { padding: 51px 0; }
.wrapper.opened .header .toggle-btn { right:2%; transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease;}
}
.filter { background:yellow; width:auto; padding:7px 15px; display: inline-block; cursor:pointer; float:left;}
.filter-cnt { display:none; width:100%; padding:12px 7px; 40px 0 0 0; background: #dddddd; margin:10px 0 0 0; -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.71);
-moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.71);
box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.71);}
.three-tab { display:none;}

/*======================================= Above (768px) ipad Portrait  End ========================================*/
@media(max-width:960px) {

}
/*=================================== Media Queries 1200 to desktop (This should be wrapper width) ============================*/

@media screen and (max-width:768px) {
  .tab-mobile { display: block }
  .logo { float: none; width: 100%; }
  .nav { float: none; width: 100% }
  /*form*/
  .form-row .form-field { margin: 0; }
  /*form end*/
  .wrapper { }
  .toggle-btn { background: none repeat scroll 0 0 transparent; cursor: pointer; display: block; height: 40px; padding: 12px 0; position: absolute; right: 2%; top: 5px; width: 40px; }
  .toggle-btn span { background: none repeat scroll 0 0 #fff; display: block; height: 2px; margin: 0 auto 5px; width: 62%; }
  .opened .toggle-btn span { display: none; }
  .opened .toggle-btn span:first-child, .opened .toggle-btn span:last-child { display: block; position: absolute; transform: rotate(45deg); }
  .opened .toggle-btn span:last-child { left: 8px; top: 19px; transform: rotate(-45deg); }
  .opened .toggle-btn span:first-child { left: 9px; margin-top: 5px; top: 14px; }
  .nav { position: fixed; right: -320px; width: 320px; top: 48px; z-index: 100; height: 100%; transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; overflow: auto; }
  .nav li, .nav li:last-child { float: none; border-bottom: 1px solid #fff; }
  .nav li.has-sub-menu { position: relative; }
  .nav li.has-sub-menu:after { color: #fff; content: "+"; position: absolute; right: 11px; top: 4px; }
  .nav li.has-sub-menu.opened:after { content: '-'; }
  .header .nav .container { width: 100% }
  .sub-menu:before { display: none; }
  .nav .sub-menu { position: static; padding: 0; width: 100%; max-height: 0; transition: all 1500ms ease; -moz-transition: all 1500ms ease; -webkit-transition: all 1500ms ease; }
  .nav li.has-sub-menu.opened .sub-menu { height: auto; max-height: 3000px; }
  .nav li:hover .sub-menu { padding: 0; height: 0; }
  .sub-menu li { border: none }
  .sub-menu li:last-child { border: none; }
  .wrapper { width: 100%; transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; }
  .wrapper.opened { /*margin-left: -250px;*/ }
  .wrapper.opened .nav { right: 0; top:50px; }
    .tab-clear { clear: both }
  .desktop-only { display: none }
  .tab-only, .tab-mobile-only { display: block }
  .test { color: #F00; font-size: 40px; }
}

/*======================================= Media Queries 0 to 767 All mobiles ========================================*/
@media screen and (max-width: 767px) {
  .mobile-only { display: block }
  .tab-only{ display: none }
  .nav{position:fixed; right: -270px; width: 270px; }
  .wrapper {min-width: 320px; }
  .wrapper.opened { /*margin-left: -250px;*/ }
  ul.tree li > li{margin:20px 5px;max-width:170px;}
  .login-wrapper .checkForm .form-row { padding-bottom: 25px; }
.login-wrapper .checkForm .form-row input[type="button"] { padding: 10px 0; }
.login-wrapper .checkForm .form-row input[type="text"], .login-wrapper .checkForm .form-row input[type="password"], .login-wrapper .checkForm .form-row input[type="email"], .login-wrapper .checkForm .form-row input[type="number"], .login-wrapper .checkForm .form-row input[type="date"], .login-wrapper .checkForm .form-row select, .login-wrapper .checkForm .form-row textarea, .login-wrapper .checkForm .form-row.last-row .forgot-pass, .login-wrapper .checkForm .form-row input[type="button"] { font-size: 18px; }
.logo-wrapper .logo a { display: block; margin: 0 auto; padding-bottom: 40px; width: 70%; }
.content-area .container .login-wrapper { margin: 0 auto; max-width: 80%; }
.login-wrapper .checkForm .form-layout-top { margin: 0 auto; width: 90%; }
.logo-login > a { padding-bottom: 40px; }
.category-button a{font-size:16px;}
}

@media screen and (max-width:640px) {
.box-wrapper .box { padding: 30px 0; }
.box-wrapper .box h3, .tabNav ul li a h3 { font-size: 12px; }
.common-head, .inner-page-header span.mid-head { font-size: 14px; }
.overlay-box { width: 90%; }
ul.tree li > div span.multi-child{max-width:140px;min-width:0;}
.value-cnt > dd{font-size:14px;}
.value-cnt > dt{font-size:12px;}
.value-cnt{min-width:90px;}
ul.tree li > div span{font-size:12px;padding:10px 5px;}
ul.tree li{margin:20px 3px;}
} 
@media screen and (max-width:480px) {
.home .content-area .container .logo-wrapper h1 { font-size: 25px; }
.common-head.drive-tree-select-wrap select { font-size: 10px; }
.logo-login { max-width: 70%; }
.common-head.drive-tree-select-wrap select {font-size: 12px; padding: 5px 15px;}
.drive-tree-select-wrap .grid-3{/*width:50%;*/ width:100%; margin:2px 0; float:none;}
.what-if-analysis {width:50px;height:50px;padding:10px;}
.what-if-analysis img,#change_value #amount{width:100%;}
.value-heading.grid-4 {
  width: 100%;
}
.graph-values.grid-8 {
  margin-top: 10px;
  width: 100%;
}
.breadcrumbs li a{font-size:12px;}
.category-button a {
  font-size: 14px;
  min-height: 66px;
}
}

@media screen and (max-width:360px) {
.box-wrapper .box { padding: 20px 0; }
.overlay-box .overlay-header { font-size: 15px; }
.content-area .container .login-wrapper { margin: 0 auto; max-width: 300px; }
.content-area .container.login-container { padding-top: 0; }
.logo-login > a { width: 80%; }
.logo-login { padding: 50px 50px 80px; max-width: 100%; }
.home .content-area .container .logo-wrapper h1 { font-size: 20px; }
ul.tree li > div span.multi-child{max-width:none;min-width:0;}

}

@media screen and  (max-width:320px) {
.inner-page-header span.mid-head { display: block; font-size: 12px; margin: 0 auto; max-width: 126px; text-align: center }
.nav { width: 250px; }

}


@media all and (orientation:landscape){
	.toggle-btn { display:none;}
	.drive-tree-select-wrap .grid-3{/*width:50%;*/ width:100%; margin:2px 0; float:none;}
	.what-if-analysis { height:38px; width:38px; padding:7px 6px; bottom:65px;}
	.scrollTop { display:none;}
	.header .logo img { display:none;}
	.header {height:30px;}
	.common-head.drive-tree-select-wrap { top:0px;}
	.inner-container .tab-wrapper .tabCnt .tabNav { display:none;}
	
	 
	.three-tab { display:inline-block; right:0px; position:fixed; width:auto; z-index:99999;}
	.pl-tab {padding:7px 12px 8px; background:yellow; text-align:center; width:142px; font-size:12px;}
	.pl-tab:after { /*background: rgba(0, 0, 0, 0) url("../img/icon/down-arrow.png") no-repeat scroll center center;*/
	bottom: 0;
	content: "";
	cursor: pointer;
	height: 100%;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 6px;
	content: "▼";}
	
	.prp-tab {   display:none;}
	.prp-tab a { display:block; padding:7px 12px; text-align:center; color:#808080; background:#333; border-bottom:1px solid #fff; width:142px; font-size:12px;}
	.prp-tab a:last-child { border-bottom:0px;}
	
	.three-tab .icon, .filter .icon  {
	height: 15px;
	width: 15px;
	margin: 0 auto;
	display:inline-block; margin-right:10px
	
}
	
.icon.i-Rplanning {
	background: url(../img/icon/plan-icon.png) no-repeat;
}
.icon.i-Rreporting {
	background: url(../img/icon/rp-icon.png) no-repeat;
}
.icon.i-Rperformance {
	background: url(../img/icon/perf-icon.png) no-repeat;
} no-repeat scroll center center;}
.filter-cnt { margin:30px 0 0 0;}
	
@media all and (orientation:landscape){
	
}