<h2 class="common-head">Please select the category of  performance metric</h2><div class="clear"></div>
<div class="inner-container">
	<div class="grid-layout">
		<div class="prop_box">
			<%_.each(categories,function(category,index){%>

			<a href="#" class="box-link ">
				<div class="box-wrapper" id=<%=category.id%> name='<%=category.name%>'>
					<div class="box" id=<%=category.id%> name='<%=category.name%>' >
						<%if(category.name == "Revenue and Profitablity"){%>
						<i class="icon i-revenue"></i><h3><span><%=category.name%></span></h3>
						<%}else if(category.name == "Cost and Operational efficiency"){%>
						<i class="icon i-cost"></i><h3><span><%=category.name%></span></h3>
						<%}else if(category.name == "Working Capital Management"){%>
						<i class="icon i-wrk-capital"></i><h3><span><%=category.name%></span></h3>
						<%}else if(category.name == "Long term capital Management"){%>
						<i class="icon i-longterm-cap"></i><h3><span><%=category.name%></span></h3>
						<%}%>
					</div>
				</div>
			</a>

			<%});%>
			<!-- <div class="grid-6 grid">
				<a href="#" class="box-link">
				<div class="box-wrapper">
					<div class="box">
						<i class="icon i-cost"></i><h3><span>Cost and operational</span><span>efficiency</span></h3>
					</div>
				</div></a>
			</div>
			<div class="grid-6 grid">
				<a href="#" class="box-link">
				<div class="box-wrapper">
					<div class="box">
						<i class="icon i-wrk-capital"></i><h3><span>Working capital</span><span>management</span></h3>
					</div>
				</div></a>
			</div>
			<div class="grid-6 grid">
				<a href="#" class="box-link">
				<div class="box-wrapper">
					<div class="box">
						<i class="icon i-longterm-cap"></i><h3><span>Long term capital</span><span>management</span></h3>
					</div>
				</div></a>
			</div> -->

			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>