<style>.ui-slider-tick-mark{
    display:inline-block;
    width:2px;
    background:black;
    height:16px;
    position:absolute;
    top:10px;
	white-space: nowrap;
}</style>
<div class="container drive-tree-container" style="padding-top: 0">
	
	<div class="common-head drive-tree-select-wrap select_wrap" id="filterBox">
	
	
		<div class="filter"><i class="icon i-Rplanning" rel="tab1">&nbsp;</i>Filter</div>
		
			<div class="three-tab">
				<div class="pl-tab"><i class="icon i-Rplanning" rel="tab1">&nbsp;</i>Planning</div>
			<div class="prp-tab">
				
					<a href="#"><i class="icon i-Rreporting" rel="tab2">&nbsp;</i>Reporting</a>
					<a href=""><i class="icon i-Rperformance" rel="tab3">&nbsp;</i>Performance</a>
				
			</div>
			</div>
		
		
		<div class="grid-layout filter-cnt">
			<div class="grid-3">
				<div class="form-row">
					<a tabindex="0"  class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="line-dropdown"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="menuLog"><span class="menuSelection">All</span></span></a>
					<div id="productCategory" class="hidden">
						<ul>
							<%_.each(productCategories,function(category,index){%>
							<li>
								<a href="#" data-name=<%=category.parameter_name%> class=<%=category.parameter_name%> id=<%=category.id%>><%=category.name%></a>
							</li>
							<%})%>

						</ul>

					</div>
					<div class="clear"></div>
				</div>
				<!-- <div class="input-select">
				<select>
				<%_.each(productCategories,function(productCategory,index){%>
				<option><%=productCategory.name%></option>
				<%})%>
				</select>
				</div> -->
				<div class="clear"></div>
			</div>
			<div class="grid-3">
				<!-- <div class="input-select">
					<select>
						<%_.each(distributionChannels,function(distributionChannel,index){%>
						<option><%=distributionChannel.name%></option>
						<%})%>
					</select>
				</div> -->
				<div class="form-row">
					<a tabindex="1"  class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="channel-dropdown"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="menuLog"><span class="menuSelection">All</span></span></a>
					<div id="distributionChannel" class="hidden">
						<ul>
							<%_.each(distributionChannels,function(distributionChannel,index){%>
							<li>
								<a href="#" class=<%=distributionChannel.parameter_name%> data-name=<%=distributionChannel.parameter_name%> id=<%=distributionChannel.id%>><%=distributionChannel.name%></a>
							</li>
							<%})%>

						</ul>

					</div>

					<div class="clear"></div>
				</div>
				
				<div class="clear"></div>
			</div>
			<div class="grid-3">
				<div class="form-row">
					<a tabindex="2"  class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="geography-dropdown"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="menuLog"><span class="menuSelection">All</span></span></a>
					<div id="geography" class="hidden">
						<ul>
							<%_.each(geographies,function(geography,index){%>

							<li>
								<a href="#" id=<%=geography.id%> class=<%=geography.parameter_name%> data-name=<%=geography.parameter_name%> ><%=geography.name%></a>
								<%if(geography.has_children>0){%>
								<ul>
									<%_.each(geography.states,function(state,index){%>

									<li>
										<a href="#" id=<%=state.id%> class=<%=state.parameter_name%> data-name=<%=state.parameter_name%> ><%=state.name%></a>
										<%if(state.has_children>0){%>
										<ul>
											<%_.each(state.cities,function(city,index){%>
											<li>
												<a href="#" id=<%=city.id%> class=<%=city.parameter_name%> data-name=<%=city.parameter_name%> ><%=city.name%>
											</li></a>
											<%})%>
										</ul>
										<%}%>
									</li>
									<%})%>
								</ul>
								<%}%>

							</li>

							<%})%>

						</ul>

					</div>

					<div class="clear"></div>
				</div>
				
				<!-- <div class="input-select">
					<select>
						<%_.each(geographies,function(geography,index){%>
						<option><%=geography.name%></option>
						<%})%>
					</select>
				</div> -->
				<div class="clear"></div>
			</div>
			<div class="grid-3">
				<div class="form-row">
				<a tabindex="3"  class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="period-dropdown"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="menuLog"><span class="menuSelection"><%=new Date().getFullYear()%></span></span></a>
				<div id="period" class="hidden">
					<ul>
						<%_.each(periods,function(period,index){%>

						<li>
							<a href="#" class=<%=period.parameter_name%> data-name=<%=period.parameter_name%> ><%=period.year%></a>
							<ul>
								<%_.each(period.quarters,function(quarterSection,index){%>

								<li>
									<a href="#" class=<%=quarterSection.parameter_name%> data-name=<%=quarterSection.parameter_name%> ><%=quarterSection.quarter%></a>
									<ul>
										<%_.each(quarterSection.months,function(monthSection,index){%>
										<li>
											<a href="#" class=<%=monthSection.parameter_name%> data-name=<%=monthSection.parameter_name%> ><%=monthSection.month%>
										</li></a>
										<%})%>
									</ul>
								</li>
								<%})%>
							</ul>
						</li>

						<%})%>

					</ul>

				</div>
				<div class="clear"></div>
			</div>
			
				<!-- <div class="input-select">
					<select id="periodValue">
						<%_.each(periods,function(period,index){%>
						<option value=<%=period.year%>><%=period.year%></option>
						<%})%>
					</select>
				</div> -->
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="inner-container">
	<div class="tab-wrapper">
		<div class="tabCnt">
			<div class="tabNav">
				<ul>
					<li>
						<a href="javascript:void(0)" rel="tab1" class="active tab1"> <!--<i class="icon i-Rplanning" rel="tab1"></i	>--> <h3><span rel="tab1" >Planning</span></h3> </a>
					</li>
					<li>
						<a href="javascript:void(0)" class="tab2" rel="tab2"> <!--<i class="icon i-Rreporting" rel="tab2"></i>--> <h3><span rel="tab2">Reporting</span></h3> </a>
					</li>
					<li>
						<a href="javascript:void(0)" class="tab3" rel="tab3"> <!--<i class="icon i-Rperformance" rel="tab3"></i>--> <h3><span rel="tab3">Performnace</span></h3> </a>
					</li>
					<div class="clear"></div>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="tabResult">
				<div class="tabBx overview active" id="tab1" style="display:block">
					<a class="what-if-analysis"><img src="img/analysis.png"></a>
					<div class="content">
						<div class="drive-tree-select-wrap">
							<div id="wrapper">
								  
							</div>
						</div>

					</div>
				</div>
				<div class="tabBx overview" id="tab2">
					<div class="content"></div>
				</div>
				<div class="tabBx overview" id="tab3">
					<div class="content">
						<div class="breadcrumbs">
							<ul>
								<li>
									<a href="#"><%=selectedCategory%> ></a>
								</li>
								<li>
									<a href="#"><%=selectedPerformanceMetrics%></a>
								</li>
							</ul>
						</div>
						
						<div class="revenue-output-value">
							<div class="value-heading grid-4">
								<span class="metricName">  (Cr.)</span>
							</div>
							<div class="graph-values grid-8">
								<div class="grid-layout">
									<ul>
										<li class="grid-4">
											<div>
												<h3>Actual</h3>
												<p class='actualValue'>
													
												</p>
											</div>
										</li>
										<li class="grid-4">
											<div>
												<h3>Plan</h3>
												<p class='plannedValue'>
													
												</p>
											</div>
										</li>
										<li class="grid-4">
											<div>
												<h3>Var %</h3>
												<p class='variationValue'>
													
												</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						
						<div class="graph-container">
							<div id="revenue-line-graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
						</div>
						<div class="category-button">
							<div class="grid-6">
								<a href="javascript:void(0);" data-target="business-unit">Business unit</a>
							</div>
							<div class="grid-6">
								<a href="javascript:void(0);" data-target="business-distribustion-channels">Distribution Channels</a>
							</div>
							<div class="clear"></div>
						</div>
						<div class="pie-graph-container business-unit">
							<div id="revenue-pie-business-graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
						</div>
						<div class="pie-graph-container business-distribustion-channels">
							<div id="revenue-pie-distribustion-graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
</div>
<div class="overlay" id="change_value">
	<div class="overlay-box">
		<div class="content">
			<div class="overlay-header"></div>
			<div class="overlay-content">
				<h3>Enter value</h3>
				<div class="range-slider-outer">
					<div id="slider-range-min"></div>
					<div class="value-change-controls">
						<a href="#" class="minus"></a><a href="#" class="add"></a>
						<input type="text" readonly id="sliderChangedVal" class="percentageAmntVal" style="border: none;"/>
					</div>
					
				</div>
				<!-- <form oninput="amount.value=rangeInput.value">
					<input type="range" id="rangeInput" name="rangeInput" min="-100" max="100">                                                     
						<output name="amount" for="rangeInput">0</output>
				</form> -->
				<p class="amount-container">
					<input type="text" id="amount">
				</p>
				<input type="button" value="Save" class="save-btn">
			</div>
		</div>
	</div>
</div>
<!-- </section>
</div>
<script src="scripts/common.js" type="text/javascript"></script> -->
<script>


//$(".slider").on("change", function(){console.log(this.value)});
	var slider_val = 0;
	//var amountStoredVal = $('#amount').val();
	var selected_input = "";
	$("#sliderChangedVal").val("0%");
	$(document).ready(function() {
    
		var slider = $("#slider-range-min").slider({
			//range : true,
			value : 0,
			min : -100,
			max : 100,
			step : 5,	
			create: function( event, ui ) {
      setSliderTicks(event.target);
	  resetSliderValue(event.target);
    },	
			slide : function(event, ui) {
			//alert(ui.value);
			
				var amountSetVal = (parseInt(ui.value) * parseInt(amountStoredVal))/100;				
				slider_val = ui.value;
				$("#sliderChangedVal").val(slider_val+"%");
				$("#amount").val(parseInt(amountSetVal) + parseInt(amountStoredVal));
			}
		});
		$("#amount").val($("#slider-range-min").slider("value"));
		$('.tree').tree_structure({
			'add_option' : false,
			'edit_option' : false,
			'delete_option' : false,
			'confirm_before_delete' : true,
			'animate_option' : false,
			'fullwidth_option' : false,
			'align_option' : 'center',
			'draggable_option' : true
		});

		$("#amount").blur(function() {
			slider_val = parseInt($(this).val());
			if (slider_val != "" && !isNaN(slider_val) && slider_val != "undefined" && slider_val != "NaN") {
				slider.slider('option', 'value', slider_val);
			}
		});
		$('.value-change-controls .add').click(function() {
			if (slider_val > 0) {
			//alert("slider value --->" + slider_val);
				slider_val = slider_val + 5;
				var amountSetVal = (parseInt(slider_val) * parseInt(amountStoredVal))/100;
				$("#amount").val(parseInt(amountSetVal) + parseInt(amountStoredVal));
				slider.slider('option', 'value', slider_val);
			}
		});

		$('.value-change-controls .minus').click(function() {
			if (slider_val < 0) {
				slider_val = slider_val - 5;
				var amountSetVal = (parseInt(slider_val) * parseInt(amountStoredVal))/100;
				$("#amount").val(parseInt(amountSetVal) + parseInt(amountStoredVal));
				//$("#amount").val(slider_val);
				slider.slider('option', 'value', slider_val);
			}
		});

		 $(document).on('click', '#change_value .save-btn, .closeBtn', function() {
		 var slider = $("#slider-range-min").slider({
			//range : true,
			value : 0,
			min : -100,
			max : 100,
			step : 5	
			
		});
		$("#sliderChangedVal").val("0%");
		 });
		$('.ediatble-input input[type="text"]').click(function() {
			selected_input = $(this);
		});
		
		function resetSliderValue(el){
		var $slider =  $(el);
			$slider.slider('option', 'value', 0); 
		}
		
		function setSliderTicks(el) {
    var $slider =  $(el);
    var max =  $slider.slider("option", "max");    
    var min =  $slider.slider("option", "min");    
    var spacing =  25;
	var calcVal = -150;
    $slider.find('.ui-slider-tick-mark').remove();
    for (var i = 0; i < 5 ; i++) {
		calcVal = calcVal + 50;
		console.log("before multiplication --->"+ spacing);
		console.log("after multiplication --->" + calcVal);
		//$('<span>'+calcVal+'</span>').css('padding-left',spacing +  '%').appendTo($slider);
        $('<span class="ui-slider-tick-mark">'+'&nbsp'+calcVal +'</span>').css('left', (spacing * i) +  '%').appendTo($slider); 
		 
     }
}
		

	}); 
	
	$(document).ready(function(){
    $(".filter").click(function(){
        $(".filter-cnt").slideToggle("slow");
    });
});

$(document).ready(function(){
    $(".pl-tab").click(function(){
        $(".prp-tab").slideToggle("slow");
    });
});
</script>

