<h2 class="common-head">Please select a operation</h2><div class="clear"></div>
<div class="inner-container">
	<div class="grid-layout">
		<div class="prop_box">
				<a class="box-link" href="revenue-from-operations.html" >
				<div class="box-wrapper">
					<div class="box">
						<i class="icon i-Rplanning" id="iconHolder"></i><h3 class="Planning"><span>Planning</span><span>&nbsp;</span></h3>
					</div>
				</div></a>
				<a href="#" class="box-link">
				<div class="box-wrapper">
					<div class="box">
						<i class="icon i-Rreporting" id="iconHolder"></i><h3 class="Reporting"><span>Reporting</span><span>&nbsp;</span></h3>
					</div>
				</div></a>
				<a href="#" class="box-link">
				<div class="box-wrapper">
					<div class="box">
						<i class="icon i-Rperformance" id="iconHolder"></i><h3 class="Performance"><span>Performance</span><span>analysis</span></h3>
					</div>
				</div></a>
			<div class="grid-6 grid">
				&nbsp;
			</div>

			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
