<h2 class="common-head">Please select a performance metric</h2><div class="clear"></div>
<div class="inner-container">
	<div class="grid-layout">
		<div class="prop_box">
			<%_.each(metrics,function(metric,index){%>
				<a class="box-link">
				<div class="box-wrapper" id=<%=metric.id%> name='<%=metric.name%>' >
					<div class="box" id=<%=metric.id%> name='<%=metric.name%>' >
						<%if(metric.name == "Revenue from Operations"){%>
						<i class="icon i-revenue-op"></i><h3><span><%=metric.name%></span></h3>
						<%}else if(metric.name == "Other Operation"){%>
						<i class="icon i-other-income"></i><h3><span><%=metric.name%></span></h3>
						<%}else if(metric.name == "Operating Margin"){%>
						<i class="icon i-margin"></i><h3><span><%=metric.name%></span></h3>
						<%}else if(metric.name == "Return on capital Enviornment (ROCE)"){%>
						<i class="icon i-returncap"></i><h3><span><%=metric.name%></span></h3>
						<%}%>
					</div>
				</div></a>
			<%})%>
			<!-- <div class="grid-6 grid">
				<a href="#" class="box-link">
				<div class="box-wrapper">
					<div class="box">
						<i class="icon i-other-income"></i><h3><span>Other Income</span><span>&nbsp;</span></h3>
					</div>
				</div></a>
			</div>
			<div class="grid-6 grid">
				<a href="#" class="box-link">
				<div class="box-wrapper">
					<div class="box">
						<i class="icon i-margin"></i><h3><span>Operating margin</span><span>&nbsp;</span></h3>
					</div>
				</div></a>
			</div>
			<div class="grid-6 grid">
				<a href="#" class="box-link">
				<div class="box-wrapper">
					<div class="box">
						<i class="icon i-returncap"></i><h3><span>Return on capital</span><span>employed (ROCE)</span></h3>
					</div>
				</div></a>
			</div> -->

			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>