<h2 class="common-head">Please select the sector</h2><div class="clear"></div>
<div class="inner-container">
	<div class="grid-layout">
		<div class="prop_box">
			<%_.each(sectors,function(sector,index){%>
				<a href="#" class="box-link">
				<div class="box-wrapper" id=<%=sector.id%> >
					<div class="box" id=<%=sector.id%> >
						<%if(sector.name == "Services"){%>
						<i class="icon i-services"></i><h3><%=sector.name%></h3>
						<%}else if(sector.name == "Manufacturing"){%>
							<i class="icon i-manufacturing"></i><h3><%=sector.name%></h3>
						<%}%>
					</div>
				</div></a>
			<%})%>
			<!-- <div class="grid-6 grid">
				<a href="manufacturing.html" class="box-link">
				<div class="box-wrapper">
					<div class="box">
						<i class="icon i-manufacturing"></i><h3>Manufacturing</h3>
					</div>
				</div></a>
			</div> -->
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>