
/*======================================= driver tree CSS Start ========================================*/
.tree > li:first-child {
  display: block;
}
ul.tree li div.parent span {
    background: #852b99;
}
ul.tree li div.current span {
    background: #28b779;
}
ul.tree li div.children span{
    background: #ffb848;
}
ul.tree { margin-bottom: 0; font-family: eyinterstater, sans-serif; }
ul.tree li > div span { border-radius: 4px; color: #fff; display: block; font-family: eyinterstater, sans-serif; font-size: 16px; margin: 0 2px; padding: 10px 15px; }
ul.tree li > div span.single-child{ background: #646464 none repeat scroll 0 0;}
ul.tree li > div span.multi-child{ background: #999999 none repeat scroll 0 0;}
.value-cnt > dt { background: #dddddd none repeat scroll 0 0; color: #646464; font-size: 14px; padding: 5px 20px; }
.value-cnt > dd { background: #fff none repeat scroll 0 0; border-radius: 0 0 4px 4px; color: #333232; font-size: 18px; padding: 5px 10px; }
.value-cnt {
  border: 1px solid #ddd;
  display: inline-block;
  margin: 10px 5px;
  min-width: 120px;
}
.value-cnt.value-red > dd { color:#cc3737 !important; }
.value-cnt.value-green > dd { color:#84ab52 !important; }
#change_value .overlay-header{padding:0;}
.ui-slider .ui-slider-handle {
    cursor: default;
    height: 60px;
    position: absolute;
    width: 60px;
    z-index: 2;border:none;top:-24px;
}
#change_value .overlay-content{padding:10%;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background:url(../img/range-dragger.png) center center no-repeat;margin-left:-30px;outline:none;}
.ui-widget-header{background:#f6db00;}
.ui-widget-content{ background: #dddddd none repeat scroll 0 0;}
.ui-slider-horizontal{height:8px;border:none;}
#slider-range-min{margin:40px 0;}
#change_value #amount {
  display: inline-block;
  font-size: 20px;
  padding: 17px;
  text-align: center;
  /* width: auto; */
  color:#000000;
}

.percentageAmntVal{
  display: inline-block;
  font-size: 20px;
  padding: 17px;
  text-align: center;
  /* width: auto; */
  color:#000000;
}
#change_value .amount-container {
  margin: 0 0 0;
  text-align: center;
}
.value-change-controls a{position: absolute;width: 20px;height: 20px;background:url(../img/minus-icon.png) center center no-repeat;top: -5px;left: -9%;}
.value-change-controls a.add{background-image:url(../img/plus-icon.png);right:-9%;left:auto}
.range-slider-outer{position:relative;}
ul.tree li span.vertical{background:url(../img/vertical-line-bg.png) repeat-y center top;}
ul.tree li span.horizontal{background:url(../img/horizontal-line-bg.png) repeat-x left center;}
.change-revenue-value.hidden-cnt{display:none;}
/*======================================= driver tree CSS end ========================================*/