/*======================================= Initialization of Font ========================================*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
/*======================================= Initialization of Font End ========================================*/

/*======================================= Global Classes ========================================*/
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font: 300 24px "Open Sans", sans-serif;
	padding-bottom: 12px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
@font-face {
	font-family: 'eyinterstatel';
	src: url('../fonts/eyinterstatel.eot');
	src: url('../fonts/eyinterstatel.eot') format('embedded-opentype'), url('../fonts/eyinterstatel.woff2') format('woff2'), url('../fonts/eyinterstatel.woff') format('woff'), url('../fonts/eyinterstatel.ttf') format('truetype'), url('../fonts/eyinterstatel.svg#eyinterstatel') format('svg');
}
@font-face {
	font-family: 'eyinterstatelb';
	src: url('../fonts/eyinterstatelb.eot');
	src: url('../fonts/eyinterstatelb.eot') format('embedded-opentype'), url('../fonts/eyinterstatelb.woff2') format('woff2'), url('../fonts/eyinterstatelb.woff') format('woff'), url('../fonts/eyinterstatelb.ttf') format('truetype'), url('../fonts/eyinterstatelb.svg#eyinterstatelb') format('svg');
}
@font-face {
	font-family: 'eyinterstatelbi';
	src: url('../fonts/eyinterstatelbi.eot');
	src: url('../fonts/eyinterstatelbi.eot') format('embedded-opentype'), url('../fonts/eyinterstatelbi.woff2') format('woff2'), url('../fonts/eyinterstatelbi.woff') format('woff'), url('../fonts/eyinterstatelbi.ttf') format('truetype'), url('../fonts/eyinterstatelbi.svg#eyinterstatelbi') format('svg');
}
@font-face {
	font-family: 'eyinterstateli';
	src: url('../fonts/eyinterstateli.eot');
	src: url('../fonts/eyinterstateli.eot') format('embedded-opentype'), url('../fonts/eyinterstateli.woff2') format('woff2'), url('../fonts/eyinterstateli.woff') format('woff'), url('../fonts/eyinterstateli.ttf') format('truetype'), url('../fonts/eyinterstateli.svg#eyinterstateli') format('svg');
}
@font-face {
	font-family: 'eyinterstater';
	src: url('../fonts/eyinterstater.eot');
	src: url('../fonts/eyinterstater.eot') format('embedded-opentype'), url('../fonts/eyinterstater.woff2') format('woff2'), url('../fonts/eyinterstater.woff') format('woff'), url('../fonts/eyinterstater.ttf') format('truetype'), url('../fonts/eyinterstater.svg#eyinterstater') format('svg');
}
@font-face {
	font-family: 'eyinterstateb';
	src: url('../fonts/eyinterstateb.eot');
	src: url('../fonts/eyinterstateb.eot') format('embedded-opentype'), url('../fonts/eyinterstateb.woff2') format('woff2'), url('../fonts/eyinterstateb.woff') format('woff'), url('../fonts/eyinterstateb.ttf') format('truetype'), url('../fonts/eyinterstateb.svg#eyinterstateb') format('svg');
}
@font-face {
	font-family: 'eyinterstatebi';
	src: url('../fonts/eyinterstatebi.eot');
	src: url('../fonts/eyinterstatebi.eot') format('embedded-opentype'), url('../fonts/eyinterstatebi.woff2') format('woff2'), url('../fonts/eyinterstatebi.woff') format('woff'), url('../fonts/eyinterstatebi.ttf') format('truetype'), url('../fonts/eyinterstatebi.svg#eyinterstatebi') format('svg');
}
@font-face {
	font-family: 'eyinterstatei';
	src: url('../../fonts/eyinterstatei.eot');
	src: url('../../fonts/eyinterstatei.eot') format('embedded-opentype'), url('../../fonts/eyinterstatei.woff2') format('woff2'), url('../../fonts/eyinterstatei.woff') format('woff'), url('../../fonts/eyinterstatei.ttf') format('truetype'), url('../../fonts/eyinterstatei.svg#eyinterstatei') format('svg');
}
/*======================================= Global Classes end ========================================*/
body {
	background: #f0f0f0;
}
.home {
	background: #292929; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(circle, #292929, #242424, #242424); /* Safari */
	background: -o-radial-gradient(circle, #292929, #242424, #242424); /* Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(circle, #292929, #242424, #242424); /* Firefox 3.6 to 15 */
	background: radial-gradient(circle, #292929, #242424, #242424); /* Standard syntax */
}
/*======================================= Header CSS Start ========================================*/
.header {
	background: #333333 none repeat scroll 0 0;
	font: 20px "eyinterstater", serif;
	height: auto;
	position: relative;
	width: 100%;
	z-index: 1;
}
.header .container {
	padding: 15px 0
}
.header .logo {
	float: left
}
.nav {
	background: #333333 none repeat scroll 0 0;
}
.header .nav .container {
	padding: 0;
}
.nav li {
	float: left;
	border-right: 1px solid #fff;
	position: relative;
}
.nav li:last-child {
	margin: 0;
	padding: 0;
	border: none;
}
.nav li a {
	color: #fff;
	display: block;
	font: 14px "eyinterstater", sans-serif;
	padding: 10px 20px;
	text-transform: uppercase;
}
.nav li a:hover, .nav li.has-sub-menu:hover > a {
	background: none;
	color: #ffe600;
}
/*Sub Nav*/
.nav li.has-sub-menu:hover a {
}
.nav li:hover .sub-menu {
	height: 300px;
	padding: 13px 0 0;
}
.sub-menu {
	position: absolute;
	left: 0;
	width: 250px;
	height: 0;
	overflow: hidden;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.sub-menu:before {
	width: 15px;
	height: 15px;
	content: '';
	position: absolute;
	left: 20px;
	top: 5px;
	background: #33CEB7;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}
.sub-menu ul {
	background: #333333;
}
.sub-menu ul li {
	float: none;
	border: none;
	border-bottom: 1px solid #ffe600;
}
.sub-menu ul li a {
	color: #ffe600;
}
/*Sub Nav*/

/*======================================= Header CSS End ========================================*/

/*======================================= Content Area CSS Start ========================================*/
.content-area .container {
	position: relative;
}
.container.revenue-container {
	width: 100%;
}
.content-area {
}
.content-area .container {
	padding-top: 0;
}
.content-area .container {
	padding: 10px 0;
}
.home .content-area .container .logo-wrapper {
	text-align: center;
}
.home .content-area .container .logo-wrapper h1 {
	font-size: 36px;
	color: #242424;
	padding: 8px;
	background: #f6db00;
	margin: 10px auto 0;
	font-family: eyinterstatelb, sans-serif;
	font-weight: bold;
	max-width: 450px;
}
.home .content-area .container {
	background: url(../img/bg.png) no-repeat center center;
}
.common-head {
	font-size: 22px;
	color: #808080;
	font-family: eyinterstatelb, sans-serif;
	padding: 15px;
	text-transform: uppercase;
}
.logo-wrapper .logo {
	bottom: 0;
	height: 300px;
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	top: 0;
	padding: 15px 30px;
}
.logo-wrapper .logo a {
	display: block;
	margin: 0 auto;
	padding-bottom: 60px;
	width: 380px;
}
.nav .container > span {
	color: #fff;
	display: block;
	font-size: 18px;
	padding: 15px;
	text-align: center;
}
/*================ login css start =================*/
.container.login-container {
	padding-top: 81px;
}
.content-area .container .login-wrapper {/*bottom: 2%;
	 left: 0;*/
	margin: 0 auto;
	max-width: 580px;/*position: fixed;
	 right: 0;*/
}
.logo-login {
	margin: 0 auto;
	max-width: 370px;
	padding: 15px 0 80px;
	position: relative;
}
.logo-login > a {
	display: block;
	margin: 0 auto;
	padding-bottom: 60px;
	width: 300px;
}
.login-wrapper .checkForm .form-layout-top {
	margin: 0 auto;
	width: 520px;
}
.login-wrapper .checkForm .form-row {
	padding-bottom: 65px;
}
.login-wrapper .checkForm .form-row.last-row {
	text-align: center;
}
.login-wrapper .checkForm .form-row.last-row .forgot-pass {
	font: 22px "eyinterstatel", sans-serif;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
.login-wrapper .checkForm .form-row input[type="text"], .login-wrapper .checkForm .form-row input[type="password"], .login-wrapper .checkForm .form-row input[type="email"], .login-wrapper .checkForm .form-row input[type="number"], .login-wrapper .checkForm .form-row input[type="date"], .login-wrapper .checkForm .form-row select, .login-wrapper .checkForm .form-row textarea {
	border-bottom: 1px solid #c0c0c0;
	border-left: none;
	border-right: none;
	border-top: none;
	font: 26px "eyinterstatel", sans-serif;
	margin: 0;
	outline: medium none;
	padding: 20px 20px 20px 47px;
	width: 100%;
	background: transparent;
	color: #fff;
}
.login-wrapper .checkForm .form-row input[type="text"] {
	background: url(../img/username-i.png) no-repeat left center;
}
.login-wrapper .checkForm .form-row input[type="password"] {
	background: url(../img/password-i.png) no-repeat left center;
}
.login-wrapper .checkForm .form-row input[type="button"] {
	background: #ffe600;
	font: 24px "eyinterstateb", sans-serif;
	color: #333333;
	width: 100%;
	padding: 30px 0;
	border: 1px solid #ffe600;
	border-radius: 4px;
	text-align: center;
	height: auto;
	text-transform: uppercase;
	cursor: pointer;
}

/*if need to add styles for placeholder*/
.login-wrapper .checkForm .form-row input::-webkit-input-placeholder {
	text-shadow: none;
	color: #fff;
	opacity: 1;
}
.login-wrapper .checkForm .form-row input:-moz-placeholder {
	text-shadow: none;
	color: #fff;
	opacity: 1;
}
.login-wrapper .checkForm .form-row input::-moz-placeholder {
	text-shadow: none;
	color: #fff;
	opacity: 1;
}
.login-wrapper .checkForm .form-row input:-ms-input-placeholder {
	text-shadow: none;
	color: #fff;
	opacity: 1;
}
.login-wrapper .checkForm .form-layout .form-row {
	position: relative;
}
.login-wrapper .checkForm .form-row #remove-username, .login-wrapper .checkForm .form-row #show-password {
	cursor: pointer;
	margin: 20px 0 0;
	padding: 5px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
/*================ login css start =================*/

/*box-wrapper*/
.box-wrapper {
	background: #333333;
	border: 1px solid #333333;
	display: table;
	width: 100%;
	height: 100%;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.row .box-wrapper {
	margin: 0 0 5%
}
.box-wrapper .box {
	display: table-cell;
	padding: 80px 0;
	text-align: center;
	vertical-align: middle;
}
.box-wrapper .box h3 {
	color: #ffe600;
	font-family: eyinterstatel, sans-serif;
	font-size: 22px;
	padding: 10px 0 0;
	text-transform: uppercase;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.box-wrapper .box .icon {
	height: 62px;
	width: 80px;
	margin: 0 auto;
	display: block;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.box-wrapper .box .icon.i-services {
	background: url(../img/icon/services-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-manufacturing {
	background: url(../img/icon/manf-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-automob {
	background: url(../img/icon/autoMob-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-consumer {
	background: url(../img/icon/consumer-durable-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-pharma {
	background: url(../img/icon/pharma-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-cement {
	background: url(../img/icon/cement-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-textile {
	background: url(../img/icon/textile-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-chemicals {
	background: url(../img/icon/chemi-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-power {
	background: url(../img/icon/power-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-steel {
	background: url(../img/icon/steel-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-abc {
	background: url(../img/icon/abc-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-abc1 {
	background: url(../img/icon/abc1-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-revenue {
	background: url(../img/icon/revenue-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-cost {
	background: url(../img/icon/cost-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-wrk-capital {
	background: url(../img/icon/wrk-capital-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-longterm-cap {
	background: url(../img/icon/longterm-cap-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-revenue-op {
	background: url(../img/icon/revenue-operation-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-other-income {
	background: url(../img/icon/other-income--icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-margin {
	background: url(../img/icon/margin-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-returncap {
	background: url(../img/icon/return-cap--icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-Rplanning {
	background: url(../img/icon/Rplanning-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-Rreporting {
	background: url(../img/icon/Rreporting-icon.png) no-repeat center 0;
}
.box-wrapper .box .icon.i-Rperformance {
	background: url(../img/icon/Rperformance-icon.png) no-repeat center 0;
}
.box-link:hover .box-wrapper {
	background: #ffe600;
	border: 1px solid #ffe600;
}
.box-link:hover .box-wrapper .box h3 {
	color: #333333;
}
.box-link:hover .box-wrapper .box .icon.i-services {
	background: url(../img/icon/services-icon.png) no-repeat center -97px;
}
.box-link:hover .box-wrapper .box .icon.i-manufacturing {
	background: url(../img/icon/manf-icon.png) no-repeat center -97px;
}
.box-link:hover .box-wrapper .box .icon.i-automob {
	background: url(../img/icon/autoMob-icon.png) no-repeat center -97px;
}
.box-link:hover .box-wrapper .box .icon.i-consumer {
	background: url(../img/icon/consumer-durable-icon.png) no-repeat center -93px;
}
.box-link:hover .box-wrapper .box .icon.i-pharma {
	background: url(../img/icon/pharma-icon.png) no-repeat center -93px;
}
.box-link:hover .box-wrapper .box .icon.i-cement {
	background: url(../img/icon/cement-icon.png) no-repeat center -92px;
}
.box-link:hover .box-wrapper .box .icon.i-textile {
	background: url(../img/icon/textile-icon.png) no-repeat center -97px;
}
.box-link:hover .box-wrapper .box .icon.i-chemicals {
	background: url(../img/icon/chemi-icon.png) no-repeat center -92px;
}
.box-link:hover .box-wrapper .box .icon.i-power {
	background: url(../img/icon/power-icon.png) no-repeat center -97px;
}
.box-link:hover .box-wrapper .box .icon.i-steel {
	background: url(../img/icon/steel-icon.png) no-repeat center -97px;
}
.box-link:hover .box-wrapper .box .icon.i-abc {
	background: url(../img/icon/abc-icon.png) no-repeat center -92px;
}
.box-link:hover .box-wrapper .box .icon.i-abc1 {
	background: url(../img/icon/abc1-icon.png) no-repeat center -92px;
}
.box-link:hover .box-wrapper .box .icon.i-revenue {
	background: url(../img/icon/revenue-icon.png) no-repeat center -92px;
}
.box-link:hover .box-wrapper .box .icon.i-cost {
	background: url(../img/icon/cost-icon.png) no-repeat center -92px;
}
.box-link:hover .box-wrapper .box .icon.i-wrk-capital {
	background: url(../img/icon/wrk-capital-icon.png) no-repeat center -92px;
}
.box-link:hover .box-wrapper .box .icon.i-longterm-cap {
	background: url(../img/icon/longterm-cap-icon.png) no-repeat center -92px;
}
.box-link:hover .box-wrapper .box .icon.i-revenue-op {
	background: url(../img/icon/revenue-operation-icon.png) no-repeat center -92px;
}
.box-link:hover .box-wrapper .box .icon.i-other-income {
	background: url(../img/icon/other-income--icon.png) no-repeat center -92px;
}
.box-link:hover .box-wrapper .box .icon.i-margin {
	background: url(../img/icon/margin-icon.png) no-repeat center -92px;
}
.box-link:hover .box-wrapper .box .icon.i-returncap {
	background: url(../img/icon/return-cap--icon.png) no-repeat center -92px;
}
.box-link:hover .box-wrapper .box .icon.i-Rplanning {
	background: url(../img/icon/Rplanning-icon.png) no-repeat center -92px;
}
.box-link:hover .box-wrapper .box .icon.i-Rreporting {
	background: url(../img/icon/Rreporting-icon.png) no-repeat center -92px;
}
.box-link:hover .box-wrapper .box .icon.i-Rperformance {
	background: url(../img/icon/Rperformance-icon.png) no-repeat center -92px;
}
/*inner page header*/
.container.text-center.inner-page-header {
	position: relative;
}
.header .inner-page-header .logo {
	width: auto;
}
.inner-page-header .back-btn {
	float: left;
	margin: 0;
	padding: 0;
}
.inner-page-header .back-btn a {
	cursor: pointer;
	display: inline-block;
	padding: 15px 0 12px 4px;
	width: 40px;
}
.inner-page-header span.mid-head {
	color: #c0c0c0;
	display: inline-block;
	font-family: eyinterstater, sans-serif;
	font-size: 22px;
	padding: 18px 0 0;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	right: 0;
}
.box span {
	display: block;
}
/*======================================= Content Area CSS End ========================================*/

/*overlay */
.overlay-bg {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
}
.overlay {
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100001;
	visibility: hidden
}
.overlay-box {
	display: table;
	height: inherit;
	margin: 0 auto;
	width: 600px;
}
.overlay-box .content {
	display: table-cell;
	vertical-align: middle;
}
.overlay-box .closeBtn {
	cursor: pointer;
	padding: 0;
	position: absolute;
	right: -10px;
	text-align: center;
	top: -15px;
	width: 25px;
	height: 25px;
	z-index: 1002;
}
.overlay-box .overlay-header {
	background: #f0f0f0 none repeat scroll 0 0;
	border-bottom: 1px solid #d3d3d3;
	color: #333333;
	font-size: 23px;
	font-family: eyinterstatelb, sans-serif;
	text-transform: uppercase;
	padding: 9px 10px;
	position: relative;
	text-align: center;
}
.overlay-box .overlay-content {
	padding: 20px 10px;
	background: none repeat scroll 0 0 #fff
}
.overlay-box .overlay-footer {
	padding: 9px 10px;
	background: #e3e3e3;
	text-align: right;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
/*overlay end*/

/*form tag*/
select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select, textarea {
	width: 100%;
	padding: 9px 10px;
	border: 1px solid #ddd;
	margin: 0;
	font: 14px "Open Sans", serif;
	outline: none;
}
select {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	width: 100%;
	padding: 9px 10px;
	border: none;
	outline: none;
	cursor: pointer;
}
textarea {
	height: 80px;
	resize: none;
	font: 14px "open sans", serif;
}
input[type="checkbox"], input[type="radio"] {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
.animated-label-form .form-layout {
	background-color: #f0f0f0;
	padding: 10px 0px 75px;
}
.animated-label-form .form-row {
	padding-bottom: 15px;
}
.animated-label-form .form-row .input-group {
	position: relative;
}
.animated-label-form input[type="text"], .animated-label-form input[type="password"], .animated-label-form input[type="email"], .animated-label-form input[type="number"], .animated-label-form input[type="date"], .animated-label-form textarea, .animated-label-form select {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: transparent;
	border-color: -moz-use-text-color -moz-use-text-color #9e9e9e;
	border-image: none;
	border-radius: 0;
	border-style: none none solid;
	border-width: medium medium 1px;
	box-shadow: none;
	box-sizing: content-box;
	font-size: 1rem;
	height: 3rem;
	margin: 0 auto;
	display: block;
	outline: medium none;
	padding: 0 0;
	text-indent: 2px;
	transition: all 0.3s ease 0s;
	width: 96%;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.animated-label-form .input-type-select:hover {
	background: #e5e5e5;
}
.animated-label-form .form-row .input-group::after {
	background: rgba(0, 0, 0, 0) url("../img/icon/down-arrow.png") no-repeat scroll right center;
	bottom: 0;
	content: "";
	height: 15px;
	position: absolute;
	right: 20px;
	top: 18px;
	width: 15px;
	cursor: pointer;
	pointer-events: none;
}
.animated-label-form select:focus, .animated-label-form select.active-select {
	border: 1px solid #9a9a9a;
	border-radius: 4px;
	outline: none;
}
.animated-label-form .form-row.btm-btn {
	bottom: 2%;
	left: 0;
	margin: 0 auto;
	padding: 0;
	position: fixed;
	right: 0;
	width: 555px;
}
.animated-label-form .animate-label .input-group label {
	color: #333333;
	cursor: text;
	font-size: 18px;
	left: 0.75 rem;
	position: absolute;
	top: 0.8 rem;
	transition: all 0.2s ease-out 0s;
	font-family: eyinterstatel, sans-serif;
	text-transform: capitalize;
	pointer-events: none;
}
.animated-label-form .animate-label .input-group label.active {
	background: #f0f0f0 none repeat scroll 0 0;
	color: #9a9a9a;
	font-size: 0.8 rem;
	padding: 0 5px;
	transform: translateY(-130%);
	z-index: 1;
}
input[type="text"] + label::after, input[type="password"] + label::after, input[type="email"] + label::after, input[type="url"] + label::after, input[type="time"] + label::after, input[type="date"] + label::after, input[type="datetime-local"] + label::after, input[type="tel"] + label::after, input[type="number"] + label::after, input[type="search"] + label::after, textarea.materialize-textarea + label::after, .animated-label-form select + label:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
	top: 65px;
	transition: opacity 0.2s ease-out 0s, color 0.2s ease-out 0s;
	pointer-events: none;
}
.animated-label-form {
}
.btn-wrapper {
	background: #333333 none repeat scroll 0 0;
	border: 1px solid #333333;
	padding: 8px 0;
	text-align: center;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.btn-wrapper:hover {
	background: #ffe600;
	border: 1px solid #ffe600;
	width: 100%;
}
.btn-wrapper input[type="submit"].cm-btn, .btn-wrapper .hover-img {
	display: inline-block;
}
.btn-wrapper .hover-img {
	pointer-events: none;
	background: rgba(0, 0, 0, 0) url("../img/icon/arrow-icon.png") no-repeat scroll center 2px;
	height: 23px;
	margin: -4px -32px;
	width: 30px;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.btn-wrapper:hover .hover-img {
	background: rgba(0, 0, 0, 0) url("../img/icon/arrow-icon.png") no-repeat scroll center -21px;
}
input[type="submit"].cm-btn {
	padding-right: 30px;
	font-size: 22px;
	color: #ffe600;
	text-transform: uppercase;
	font-family: eyinterstatel;
	cursor: pointer;
	text-transform: uppercase;
	background: transparent;
	border: none;
}
.btn-wrapper:hover input[type="submit"].cm-btn, .btn-wrapper:focus input[type="submit"].cm-btn {
	color: #333333;
}
.drive-body {
	background: #eeeeee;
}
.common-head.drive-tree-select-wrap {
	padding: 0;
}
.common-head.drive-tree-select-wrap .input-select {
	position: relative;
	border-radius: 3px;
	overflow: hidden;
}
.common-head.drive-tree-select-wrap .input-select::after {
	background: url(../img/icon/select-down.png) no-repeat scroll center center;
	bottom: 0;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 35px;
	pointer-events: none;
}
.common-head.drive-tree-select-wrap select {
	background: #fff none repeat scroll 0 0;
	border: medium none;
	cursor: pointer;
	font-size: 14px;
	outline: medium none;
	padding: 15px;
	text-align: left;
	text-indent: 0;
	width: 100%;
	color: #939393
}
/*tab Layout Css*/

.tabNav ul li {
	float: left;
	width: 33.33%;
}
.tabNav ul li a {
	color: #828282;
	background: #333333;
	padding: 10px 9px 7px;
	display: block;
	border-radius: 0;
	min-width: 80px;
	text-align: center
}
.tabNav ul li a:hover {
}
.tabNav ul li a.active {
	background: #ffe600;
	color: #fff;
}
.tabNav ul li:last-child {
	background-image: none;
}
.tabNav ul li a {
}
.tabResult {
	height: auto;
	overflow: auto;
}
.tabResult .tabBx {
	display: none;
}
.tabResult .col-md-5, .tabResult .col-md-7 {
	padding: 0
}
.tabResult p {
	padding-bottom: 8px;
}
.tabResult .tabBx .mobile-menu {
	display: none
}
.tabNav {
	bottom: 0;
	margin: 0 auto;
	position: fixed;
	width: 580px;
	z-index: 9999
}
.tabNav ul li a h3 {
	color: #ffe600;
	font-family: eyinterstatel, sans-serif;
	font-size: 14px;
	padding: 1px 0 0;
	text-transform: uppercase;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.tabNav ul li a .icon {
	height: 42px;
	width: 80px;
	margin: 0 auto;
	display: block;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.tabNav ul li a:hover {
	background: #ffe600;
}
.tabNav ul li a:hover h3, .tabNav ul li a.active h3 {
	color: #333333;
}
.tabNav ul li a .icon.i-Rplanning {
	background: url(../img/icon/planing-tab-icon.png) no-repeat center -47px;
}
.tabNav ul li a .icon.i-Rreporting {
	background: url(../img/icon/reporting-tab-icon.png) no-repeat center -47px;
}
.tabNav ul li a .icon.i-Rperformance {
	background: url(../img/icon/perf-tab-icon.png) no-repeat center -47px;
}
.tabNav ul li a:hover .icon.i-Rplanning, .tabNav ul li a.active .icon.i-Rplanning {
	background: url(../img/icon/planing-tab-icon.png) no-repeat center 0;
}
.tabNav ul li a:hover .icon.i-Rreporting, .tabNav ul li a.active .icon.i-Rreporting {
	background: url(../img/icon/reporting-tab-icon.png) no-repeat center 0;
}
.tabNav ul li a:hover .icon.i-Rperformance, .tabNav ul li a.active .icon.i-Rperformance {
	background: url(../img/icon/perf-tab-icon.png) no-repeat center 0;
}
.drive-tree-container {
	width: 96%;
	margin: 0 auto;
}
.common-head.drive-tree-select-wrap {
	background: #dddddd none repeat scroll 0 0;
	margin: 0 auto;
	padding: 10px 14px;
	width: 100%;
	z-index: 99;
}
.tabCnt {
	padding: 0;
}
/*======================================= Footer CSS Start ========================================*/
.footer {
	width: 100%;
	font: 12px "eyinterstater", serif;
	background: #424242;
	color: #fff;
}
.footer .container {
	padding: 8px 0;
}
/*======================================= Footer CSS End ========================================*/

/* ========================= graph css start ============================ */
.graph-container {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ddd;
	box-shadow: 5px 0 3px #ddd;
	padding: 20px 0;
}
.breadcrumbs {
	margin-top: 10px;
}
.breadcrumbs li {
	display: inline-block;
	padding: 10px 2px;
}

.breadcrumbs li a {
	color: #808080;
	font: 18px "eyinterstater", serif;
}
.revenue-output-value {
	margin: 10px -1%;
}
.revenue-output-value .value-heading span {
	background: #88932e none repeat scroll 0 0;
	color: #fff;
	display: block;
	font: 16px "eyinterstater", serif;
	padding: 13px 1%;
	text-align: center;
	border-radius: 3px;
	text-transform: capitalize;
}
.graph-values li > div {
	text-align: center;
	border: 1px solid #ddd;
}
.graph-values ul:after {
	display: block;
	clear: both;
	content: "";
}
.graph-values li h3 {
	font-weight: 700;
	background: #dddddd none repeat scroll 0 0;
	color: #646464;
	font-size: 14px;
	padding: 5px 20px;
}
.graph-values li p {
	font-weight: 700;
	background: #fff none repeat scroll 0 0;
	border-radius: 0 0 4px 4px;
	color: #333232;
	font-size: 18px;
	padding: 5px 10px;
}
.category-button {
	margin: 15px -1%;
}
.category-button a {
	background-color: #333;
	color: #f5dd03;
	font: 18px "eyinterstater", serif;
	padding: 15px 10px;
	display: block;
	border-radius: 3px;
	text-transform: uppercase;
	text-align: center
}
.pie-graph-container.business-distribustion-channels {
	display: none;
}

#change_value {
	text-align: center;
}
#change_value .save-btn {
	background-color: #333;
	color: #f5dd03;
	font: 18px "eyinterstater", serif;
	padding: 10px;
	display: inline-block;
	border-radius: 3px;
	text-transform: uppercase;
	text-align: center;
	border: none;
	margin-top: 20px;
}
#tab1.active .what-if-analysis {
	display: block;
}
.btn-wrapper a.cm-btn {
	background: transparent none repeat scroll 0 0;
	border: medium none;
	color: #ffe600;
	cursor: pointer;
	font-family: eyinterstatel;
	font-size: 22px;
	padding-right: 30px;
	text-transform: uppercase;
}
.btn-wrapper a.cm-btn:hover, .btn-wrapper:hover a.cm-btn {
	color: #333;
}
/* ========================= graph css end ============================ */

.menuLog {
	display: block;
	font-size: 1.4em;
	position: relative;
	text-align: left;
}
.menuLog::after {
	background: rgba(0, 0, 0, 0) url("../img/icon/down-arrow.png") no-repeat scroll center center;
	bottom: 0;
	content: "";
	cursor: pointer;
	height: 100%;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 21px;
}
.hidden {
	position: absolute;
	top: 0;
	left: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.fg-button {
	clear: left;
	margin: 0 4px 40px 20px;
	padding: .4em 1em;
	text-decoration: none !important;
	cursor: pointer;
	position: relative;
	text-align: center;
	zoom: 1;
}
.fg-button .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 50%;
	margin-left: -8px;
}
a.fg-button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-bottom: 1px solid #9e9e9e;
	color: #333333;
	cursor: text;
	display: block;
	float: none;
	font-family: eyinterstatel, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 10px 0;
	width: 100%;
}
button.fg-button {
	width: auto;
	overflow: visible;
}
.fg-button-icon-left {
	padding-left: 2.1em;
}
.fg-button-icon-right {
	padding-right: 2.1em;
}
.fg-button-icon-left .ui-icon {
	right: auto;
	left: .2em;
	margin-left: 0;
}
.fg-button-icon-right .ui-icon {
	left: auto;
	right: .2em;
	margin-left: 0;
}
.fg-button-icon-solo {
	display: block;
	width: 8px;
	text-indent: -9999px;
}
.menuSelection {
	display: block;
	width: 100%;
}
.fg-button.ui-state-loading .ui-icon {
	background: url(spinner_bar.gif) no-repeat 0 0;
}
.fg-menu-container.fg-menu-ipod .fg-menu-content, .fg-menu-container.fg-menu-ipod .fg-menu-content ul, .fg-menu-container {
	width: 100% !important;
}
.fg-menu ul {
	left: 100% !important;
}
.ui-widget-content {
	background: #e5e5e5 none repeat scroll 0 0;
	border: 1px solid #9f9f9f;
}
.fg-menu a span, .fg-menu li a {
	color: #333;
	cursor: pointer;
	display: block;
}
.ui-icon {
	height: 16px;
	width: 16px;
}
.ui-icon, .ui-widget-content .ui-icon {
	background-image: url("../img/ui-icons_222222_256x240.png");
}
.ui-icon-triangle-1-e {
	background-position: -32px -16px;
}
.ui-icon-triangle-1-s {
	background: none;
}
.dimention-container {
	margin: 0 auto;
	width: 96%;
}

/* ====================Newly added driver tree ===============================*/
#wrapper {
	position: relative;
}

.branch {
	position: relative;
	margin-left: 250px;
}
.branch:before {
	content: "";
	width: 50px;
	border-top: 2px dashed #A2A099;
	position: absolute;
	left: -100px;
	top: 50%;
	margin-top: 1px;
}

.entry {
	position: relative;
	min-height: 170px;
}
.entry:before {
	content: "";
	height: 100%;
	border-left: 2px dashed #A2A099;
	position: absolute;
	left: -50px;
}
.entry:after {
	content: "";
	width: 50px;
	border-top: 2px dashed #A2A099;
	position: absolute;
	left: -50px;
	top: 50%;
	margin-top: 1px;
}
.entry:first-child:before {
	width: 10px;
	height: 50%;
	top: 50%;
	margin-top: 2px;
	border-radius: 10px 0 0 0;
}
.entry:first-child:after {
	height: 10px;
	border-radius: 10px 0 0 0;
}
.entry:last-child:before {
	width: 10px;
	height: 50%;
	border-radius: 0 0 0 10px;
}
.entry:last-child:after {
	height: 10px;
	border-top: none;
	border-bottom: 2px dashed #A2A099;
	border-radius: 0 0 0 10px;
	margin-top: -9px;
}
.entry.sole:before {
	display: none;
}
.entry.sole:after {
	width: 50px;
	height: 0;
	margin-top: 1px;
	border-radius: 0;
}
#wrapper {
	position: relative;
}
.branch {
	position: relative;
	margin-left: 250px;
}
.branch:before {
	content: "";
	width: 50px;
	border-top: 2px dashed #A2A099;
	position: absolute;
	left: -100px;
	top: 50%;
	margin-top: 1px;
}

.entry {
	position: relative;
	min-height: 170px;
}
.entry:before {
	content: "";
	height: 100%;
	border-left: 2px dashed #A2A099;
	position: absolute;
	left: -50px;
}
.entry:after {
	content: "";
	width: 50px;
	border-top: 2px dashed #A2A099;
	position: absolute;
	left: -50px;
	top: 50%;
	margin-top: 1px;
}
.entry:first-child:before {
	width: 10px;
	height: 50%;
	top: 50%;
	margin-top: 2px;
	border-radius: 10px 0 0 0;
}
.entry:first-child:after {
	height: 10px;
	border-radius: 10px 0 0 0;
}
.entry:last-child:before {
	width: 10px;
	height: 50%;
	border-radius: 0 0 0 10px;
}
.entry:last-child:after {
	height: 10px;
	border-top: none;
	border-bottom: 2px dashed #A2A099;
	border-radius: 0 0 0 10px;
	margin-top: -9px;
}
.entry.sole:before {
	display: none;
}
.entry.sole:after {
	width: 50px;
	height: 0;
	margin-top: 1px;
	border-radius: 0;
}

/* modifications */
.drive-tree-container {
	width: 96%;
	margin: 0 auto;
	font-size: 22px;
	color: #808080;
	font-family: eyinterstatelb, sans-serif;
	padding: 15px;
	text-transform: uppercase;
}
.drive-tree-select-wrap {
	background: #dddddd;
	margin: 0 auto;
	padding: 10px 14px;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}
.drive-tree-select-wrap .root {
	position: relative;
}
.drive-tree-select-wrap .label {
	display: block;
	width: 165px;
	position: relative;
	text-align: center;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -5px;
}
.drive-tree-select-wrap .label span {
	border: 0;
	border-radius: 5px;
	left: 0;
	top: 50%;
	margin-top: -10px;
	line-height: 23px;
	padding: 3px 10px 5px;
	width: 165px;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	z-index: 2;
	display: block;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.drive-tree-select-wrap .label span.single-child {
	background: #6d4875;
}
.drive-tree-select-wrap .label span.multi-child {
	background: #88932e;
}
.drive-tree-select-wrap .label dl {
	min-width: inherit;
	border: 2px solid #A2A099;
	left: 0;
	display: block;
	padding: 0;
	top: 22px;
	border-radius: 5px;
	z-index: 1;
	margin: 0;
	width: 50%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.drive-tree-select-wrap .value-cnt {
	border: 1px solid #ddd;
	display: inline-block;
	margin: 10px 5px;
	min-width: 50%;
}
.drive-tree-select-wrap .value-cnt > dt {
	background: #dddddd;
	color: #646464;
	font-size: 14px;
	padding: 3px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.drive-tree-select-wrap .value-cnt > dd {
	background: #fff;
	border-radius: 0 0 4px 4px;
	color: #333232;
	font-size: 15px;
	padding: 3px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.drive-tree-select-wrap .value-cnt.value-red > dd {
	color: #cc3737 !important;
}
.drive-tree-select-wrap .value-cnt.value-green > dd {
	color: #84ab52 !important;
}
.change-revenue-value {
	position: absolute;
	bottom: -27px;
	left: 0px;
	width: 100%;
	margin: 0;
}
.change-revenue-value.hidden-cnt {
	display: none;
}
.change-revenue-value input[type="text"] {
	padding: 3px;
	background-color: #B7B7B7;
	max-width: inherit;
	display: inline-block;
	width: 100px;
	border-radius: 5px;
	text-align: center;
	opacity: 0.75;
}
.change-revenue-value.ediatble-input input[type="text"] {
	background: #fff;
	border: 1px solid #A2A099;
	box-shadow: 0px 0px 5px #A2A099 inset;
	opacity: 1;
	font-weight: bold;
	color: #666;
}
.what-if-analysis {
	background-color: #333333;
	border-radius: 50%;
	bottom: 90px;
	display: block !important;
	cursor: pointer;
	height: 85px;
	padding: 15px;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 85px;
	z-index: 999;
	display: none;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}

/*==========================Loading=================================*/
#overlay {
	background: rgba(255,255,255,0.35);
	width: 100%;
	height: 100%;
	z-index: 9999999;
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#loading {
	background: rgba(255,255,255,0.35);
	width: 100%;
	height: 100%;
	z-index: 9999999;
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
#loading img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50%;
}
/* for select dimensions dropdown */
.positionHelper {
	z-index: 99;
}
.grid-layout .form-row {
	width: 100%;
	float: left;
	margin: 1%;
	padding: 0;
}
.grid-layout a.fg-button {
	background: #fff;
	display: block;
	float: none;
	font-family: eyinterstatel, sans-serif;
	margin: 0;
	width: 100%;
	border: medium none;
	cursor: pointer;
	font-size: 9px;
    padding: 5px 15px;
	outline: medium none;
	text-align: left;
	text-indent: 0;
	width: 100%;
	color: #939393;
}
.grid-layout .menuLog::after{background-size: 13px;right:-10px;}
.fg-menu-footer {
    margin-top: 1.5em;
    padding: 0.4em 0 0.1em;
}

.fg-menu-container.fg-menu-ipod .fg-menu-content, .fg-menu-container.fg-menu-ipod .fg-menu-content ul{height:auto !important;max-height:200px;}
