/*======================================= 
Credits
Reset.css
Developed by Pratap Tondwalkar 
all rights reserved for Intelliswift Software India Pvt. Ltd. 
========================================*/


/*======================================= Restored default Browsers styles ========================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline }
strong{font-weight:bold}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
table { border-collapse: collapse; border-spacing: 0 }
/*======================================= Restored default Browsers styles End ========================================*/
/*======================================= fixed Global Classes ========================================*/
a{text-decoration: none; outline: none; transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease;}
body {line-height: 1; font:14px "open sans", sans-serif;}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-word-break: keep-all; word-break: keep-all; -webkit-word-break: keep-all; -moz-word-break: keep-all; word-wrap: break-word;text-decoration: null }
*{
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
outline: 0;
border:none;
color: rgba(0, 0, 0, 0);
}
img { max-width: 100%; vertical-align: middle }
.wrapper{}
.container { margin: 0 auto; width: 96% }
.clear { clear: both }
.clear10 { clear: both; height: 10px }
.clear20 { clear: both; height: 20px }
.fl { float: left}
.fr { float: right}
.text-right { text-align: right}
.text-left { text-align: left}
.text-center { text-align: center}
.error { color: #F00; }
.desktop-only { display: block }
.mobile-only, .tab-only, .tab-mobile-only { display: none }
.toggle-btn { display: none }
/*======================================= fixed Global Classes end ========================================*/

