<style>
.disable-me {
    pointer-events: none;
}
.enable-me {
	pointer-events: auto;
}
</style>

<h2 class="common-head">Please select dimensions</h2>
<div class="clear"></div>
<div class="inner-container">
	<div class="animated-label-form">
		<div class="checkForm" action="" method="post">
			<div class="form-layout">
				<div class="form-row">
					<a tabindex="0"  class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="line-dropdown"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="menuLog"><span class="menuSelection">Select product category</span></span></a>
					<div id="productCategory" class="hidden">
						<ul id="tab1">
							<%_.each(productCategories,function(category,index){%>
							<li>
								<a href="#" id=<%=category.id%> onclick="selectCategory('productCat')" data-name=<%=category.parameter_name%>><%=category.name%></a>
							</li>
							<%})%>

						</ul>

					</div>
					<div class="clear"></div>
				</div>
				<div class="form-row">
					<a tabindex="1"  class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="channel-dropdown"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="menuLog"><span class="menuSelection">Select distribution channel</span></span></a>
					<div id="distributionChannel" class="hidden">
						<ul>
							<%_.each(distributionChannels,function(distributionChannel,index){%>
							<li>
								<a href="#" id=<%=distributionChannel.id%> onclick="selectCategory('distributionCat')" data-name=<%=distributionChannel.parameter_name%>><%=distributionChannel.name%></a>
							</li>
							<%})%>

						</ul>

					</div>

					<div class="clear"></div>
				</div>
				<div class="form-row">
					<a tabindex="2"  class="disable-me fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="geography-dropdown"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="menuLog"><span class="menuSelection">Select geography</span></span></a>
					<div id="geography" class="hidden">
						<ul>
							<%_.each(geographies,function(geography,index){%>

							<li>
								<a href="#" id=<%=geography.id%> data-name=<%=geography.parameter_name%> ><%=geography.name%></a>
								<%if(geography.has_children>0){%>
								<ul>
									<%_.each(geography.states,function(state,index){%>

									<li>
										<a href="#" id=<%=state.id%> data-name=<%=state.parameter_name%> ><%=state.name%></a>
										<%if(state.has_children>0){%>
										<ul>
											<%_.each(state.cities,function(city,index){%>
											<li>
												<a href="#" id=<%=city.id%> data-name=<%=city.parameter_name%> ><%=city.name%>
											</li></a>
											<%})%>
										</ul>
										<%}%>
									</li>
									<%})%>
								</ul>
								<%}%>

							</li>

							<%})%>

						</ul>

					</div>

					<div class="clear"></div>
				</div>
				<div class="form-row">
				<a tabindex="3" disabled="true" class="disable-me fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="period-dropdown"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="menuLog"><span class="menuSelection">Select period</span></span></a>
				<div id="period" class="hidden">
					<ul>
						<%_.each(periods,function(period,index){%>

						<li>
							<a href="#" data-name=<%=period.parameter_name%> ><%=period.year%></a>
							<ul>
								<%_.each(period.quarters,function(quarterSection,index){%>

								<li>
									<a href="#" data-name=<%=quarterSection.parameter_name%> ><%=quarterSection.quarter%></a>
									<ul>
										<%_.each(quarterSection.months,function(monthSection,index){%>
										<li>
											<a href="#" data-name=<%=monthSection.parameter_name%> ><%=monthSection.month%>
										</li></a>
										<%})%>
									</ul>
								</li>
								<%})%>
							</ul>
						</li>

						<%})%>

					</ul>

				</div>
				<div class="clear"></div>
			</div>
			<div class="btn-wrapper">
			<input type="submit" value="DRIVER TREE" class="cm-btn" id="submitDimension">
			<span class="hover-img"></span>
			</div>
			</div> 
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="clear"></div>

<script>
var selectedProd, selectedDist,selectedGeo,selectedPeriod="";
function selectCategory(selectedCat){
debugger;
if(selectedCat=="productCat"){
	selectedProd = event.target.textContent;
}else{
	selectedDist = event.target.textContent;
}
if(selectedProd!="" && selectedProd!=undefined && selectedDist!=undefined && selectedDist!=""){
	$('#geography-dropdown').removeClass("disable-me");
	$('#period-dropdown').removeClass("disable-me");
	$('#geography-dropdown').addClass("enable-me");
	$('#period-dropdown').addClass("enable-me")
}else{
	$('#geography-dropdown').addClass("disable-me");
	$('#period-dropdown').addClass("disable-me")
}
	
}

</script>