<h2 class="common-head">Please select the type of Industry</h2><div class="clear"></div>
<div class="inner-container">
	<div class="grid-layout">
		<div class="prop_box">
			<%_.each(industries,function(industry,index){%>
				<a href="#" class="box-link"  >
				<div class="box-wrapper" id=<%=industry.id%> >
					<div class="box" id=<%=industry.id%> >
						<%if(industry.name == "Automobiles"){%>
						<i class="icon i-automob"></i><h3><%=industry.name%></h3>
						<%}else if(industry.name == "Consumer Durables"){%>
						<i class="icon i-consumer"></i><h3><%=industry.name%></h3>	
						<%}else if(industry.name == "Durables"){%>
						<i class="icon i-consumer"></i><h3><%=industry.name%></h3>
						<%}else if(industry.name == "pharmaceutical"){%>
						<i class="icon i-pharma"></i><h3><%=industry.name%></h3>
						<%}else if(industry.name == "Cement"){%>
						<i class="icon i-cement"></i><h3><%=industry.name%></h3>
						<%}else if(industry.name == "Textile"){%>
						<i class="icon i-textile"></i><h3><%=industry.name%></h3>
						<%}else if(industry.name == "Chemical"){%>
						<i class="icon i-chemicals"></i><h3><%=industry.name%></h3>
						<%}else if(industry.name == "Power"){%>
						<i class="icon i-power"></i><h3><%=industry.name%></h3>
						<%}else if(industry.name == "Steel"){%>
						<i class="icon i-steel"></i><h3><%=industry.name%></h3>
						<%}else if(industry.name == "Oil and gas"){%>
						<i class="icon i-abc"></i><h3><%=industry.name%></h3>
						<%}else if(industry.name == "EPC"){%>
						<i class="icon i-abc1"></i><h3><%=industry.name%></h3>
							<%}%>
					</div>
				</div></a>
			<%})%>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>